# Distribution and Packaging
*.pyc
*.DS_Store
build/
dist/
*.coverage
*.egg-info/
hera_cal/GIT_INFO
*/_version.py

# Sphinx documentation
docs/_build
docs/_static
docs/_templates

# Data files
hera_cal/data/test_output/*

# Test notebooks
hera_cal/notebooks
*.ipynb_checkpoints*
.pytest_cache*
.vscode/

hera_cal/data/zen.*.downsample.iter0.*
hera_cal/data/zen.*.sum.bda.downsampled.first.calfits
hera_cal/data/zen.*.sum.bda.downsampled.omni.calfits
hera_cal/data/zen.*.sum.bda.downsampled.omni_vis.uvh5
hera_cal/data/zen.*.sum.bda.downsampled.redcal_meta.hdf5

htmlcov/
cache_temp/

# Scalene profiling output
profile.json
profile.html
.benchmarks/*
.hypothesis/*
