# Distribution and Packaging
*.pyc
*.DS_Store
build/
dist/
*.coverage
*.egg-info/
hera_cal/GIT_INFO
*/_version.py

# Sphinx documentation
docs/_build
docs/_static
docs/_templates

# Data files
hera_cal/data/test_output/*

# Test notebooks
hera_cal/notebooks
*.ipynb_checkpoints*
.pytest_cache*
.vscode/
